<template>
    <div class="main-card">
        <img class="peaky-blinders-img" src="../assets/peaky_blinders.png" alt="Изображение недоступно">
        <div class="info">
            <p class="title">PEAKY BLINDERS</p>
            <p class="discription"><br/>Peaky Blinders is an English crime drama television series created by Steven Knight. Set in Birmingham, England, it follows the exploits of the Peaky Blinders crime gang in the direct aftermath of the First World War. The fictional gang is loosely based on a real urban youth gang of the same name who were active in the city from the 1880s to the 1910s.</p>
            <button class="watch-bttn">WATCH NOW</button>
        </div>
    </div>
</template>

<script>
    
    export default {

    }
</script>

<style scoped>
.main-card{
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    margin-top:25px;
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
    height: 500px;
    border-radius: 30px;
    box-shadow: 0px 0px 47px 5px rgba(34, 60, 80, 0.14);
}

.info{
    display: flex;
    flex-direction: column;
    background: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.title{
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
    margin-left:50px;
    margin-top:50px;
    background: white;
}
.discription{
    font-size:20px;
    padding-bottom:30px;
    padding-left:50px;
    padding-right:30px;
    background: white;
    color:grey;
}

.watch-bttn{
    font-size: 20px;
    border:none; 
    margin-left:150px;
    margin-right:150px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #ff1605;
    border-radius: 40px;
    color:white;
    font-weight: bold;
    transition: all 0.5s ease;
}

.watch-bttn:hover{
    box-shadow: 0 0 10px 2px #ff1605;
    transition: all 0.5s ease;
}

.peaky-blinders-img{
    width: 888px;
    height: 500px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
</style>