<template>
   <div class="top-bar-tools">
        <button class="tools-bttn">HOME</button>
        <button class="tools-bttn">MOVIES</button>
        <button class="tools-bttn">SERIALS</button>
        <button class="tools-bttn">MY LIST</button>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>
.top-bar-tools{
    display: flex;
    flex-direction: row;
    width:750px;
    height:40px;
    justify-content: space-around;
    padding-bottom:10px;
}

.tools-bttn{
    text-decoration:none;
    display: inline-block;
    line-height: 1;
    margin-top: 0px;
    font-size: 22px;
    border:none;
    letter-spacing:2px;
}

.tools-bttn:after{
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: #ff1605;
    transition: width 0.4s ease-in-out;
}

.tools-bttn:hover:after,
.tools-bttn:focus:after {
    width:100%;
}

.tools-bttn:hover{
    font-weight: bold;
}
</style>