<template>
     <div class="top-bar">
        <p class="time">12:48PM</p>
        
        <tool-bar></tool-bar>

    </div>
</template>

<script>
    import toolBar from './toolBar.vue';
    export default {
        components: {
    toolBar
  }
    }
</script>

<style scoped>
.top-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1650px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
}

.time{
    margin-top:10px;
    font-weight: lighter;
    color:grey;
    font-size: 25px;
    letter-spacing:2px;
}
</style>