<template>
    <p class="top">TOP SERIALS</p>

<div class="top-serials">
    <img class="serial-img" src="../assets/13-reasons-why.jpg" alt="Изображение недоступно">
    <img class="serial-img" src="../assets/riverdale.jpg" alt="Изображение недоступно">
    <img class="serial-img" src="../assets/la-casa-de-papel.png" alt="Изображение недоступно">
    <img class="serial-img" src="../assets/lucifer.jpg" alt="Изображение недоступно">
    <img class="serial-img" src="../assets/the-walking-dead.jpg" alt="Изображение недоступно">
    <img class="serial-img" src="../assets/supernatural.jpeg" alt="Изображение недоступно">
</div>
</template>

<script>
    export default {
        
    }
</script>

<style scoped>
.top-serials{
    display: flex;
    flex-direction: row;
    margin-top:35px;
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
    height: 250px;
    display:flex;
    margin-top:20px;
    justify-content:space-between;
    
}

.serial-img{
    margin-top: 20px;
    transition: 0.5s;
    zoom: 75%;
    width:180px;
    height:256px;
    border-radius: 10%;
}
.serial-img:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 20px 10px rgba(34, 60, 80, 0.14);

}

.top{
    margin-left:223px;
    height: fit-content;
    width:fit-content;
    color: rgb(34, 34, 34);
    font-size: 16px;
    letter-spacing:2px;
    font-weight: bold;
}
</style>