<template>
    <el-tooltip content = "Выход" v-if = "userStore.token">
        <el-button @click = "logout">
            <el-icon><Unlock/></el-icon>
        </el-button>
    </el-tooltip>
</template>

<script>
import {useUserStore} from "../stores/user";
    export default {
        name: 'logout',
        data(){
            return{
                userStore: useUserStore()
            }
        },
        methods:{
            logout(){
                this.userStore.logout()
                this.$router.push('/login/')
            }
        }
    }
</script>

<style scoped>

</style>