<template>
    <button class="btn">
        <slot></slot>
    </button>
</template>

<script>
    export default {
        name: 'my-button'
    }
</script>

<style scoped>
.btn{
    padding: 10px 15px;
    background: none;
    color: rgb(149, 85, 202);
    border:none;
    font-weight:bold;
    border-radius:20px;
    background-color: #32176d;
}

.btn:hover{
    cursor: pointer;
    color:rgb(198, 149, 238);
    transition: all 0.5s ease;
    box-shadow: 9px 10px 13px 2px rgba(19, 6, 34, 0.2);
    box-shadow: 0px 0px 21px 4px rgba(255, 255, 255, 0.2) inset;
}
</style>