<template>

<div class="task">
    <div>
    <el-tag
    size="large"
      effect="dark"
    >
    {{index + 1}}
    </el-tag>
</div>
        <div style="width:70%">
           <div><strong style="padding-right:5px">Заголовок:</strong><label for ="check">{{task.name}}</label></div>
           <!--<div><strong style="padding-right:9px">Описание:</strong><label for ="check">{{task.body}}</label></div>-->
        </div>
        <div class="task__bttns">
           <el-checkbox   size="large"/>
           <my-button @click="redirectDetails">
                Редактировать
            </my-button>
           <my-button
            @click="delTask"
            >
                Удалить</my-button>
        </div>
    </div>
</template>

<script>
import { useTodoStore } from '../stores/todo.js'
import MyButton from "./MyButton.vue";
    export default {
        data(){
            return {
                todoStore: useTodoStore()
            }
        },
        components:{
            MyButton
        },
    props: ["task","name","index","id"],
    emits: ['delTask'],
    methods:{
        redirectDetails() {
            this.$router.push(`/ItemDetail/${this.index}`)
        },
        delTask() {
            this.$emit("delTask", this.index);
        },
        }
}
</script>

<style scoped>

.task{
    padding: 15px;
    box-shadow: 0px 0px 5px 6px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 0px 18px 15px rgba(255, 255, 255, 0.3) inset;
    margin-top: 15px;
    display:flex;
    margin-top: 15px;
    justify-content: space-between;
    border-radius: 20px;
}

.task__bttns{
display:flex;
justify-content: space-between;
width:250px;
}

.el-tag{
    display:flex;
    background:#32176d;
    border-radius: 50%;
    border:none;
    width:40px;
    height:40px;
    font-size:20px;
}
</style>