<template>
    
  <div v-if="todoStore.tasks.length > 0">
    <h1>Список дел:</h1>
    <task-item
      v-for = "(task, index) in todoStore.tasks"
      :task="task"
      :key="task.id"
      :index="index"
      @delTask="rmvTask"
    />
  </div>
  <h2 v-else style="color:#32176d">
    Пока что дел нет :(
  </h2>

</template>

<script>
import { useTodoStore } from "../stores/todo.js";
import TaskItem from './TaskItem.vue';
  export default {
    data() {
      return {
        todoStore: useTodoStore(),
      }
    },
    methods:{
      rmvTask(event) {
      this.todoStore.removeTask(event);
      }
    },
    mounted(){
      this.todoStore.load()
    },
    components: { TaskItem }
}
</script>

<style scoped>
h1{
    color:#32176d;
}
</style>