*{
    box-sizing: border-box;
    background: #f5fbff;
    font-family: "Roboto", "Arial", sans-serif;
}

.top-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1650px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0px;
}

.top-bar-tools{
    display: flex;
    flex-direction: row;
    width:750px;
    height:40px;
    justify-content: space-around;
    padding-bottom:10px;
}

.main-card{
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
    margin-top:25px;
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
    height: 500px;
    border-radius: 30px;
    box-shadow: 0px 0px 47px 5px rgba(34, 60, 80, 0.14);
}

.info{
    display: flex;
    flex-direction: column;
    background: white;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.title{
    display: flex;
    justify-content: flex-start;
    font-size: 25px;
    margin-left:50px;
    margin-top:50px;
    background: white;
}
.discription{
    font-size:20px;
    padding-bottom:30px;
    padding-left:50px;
    padding-right:30px;
    background: white;
    color:grey;
}

.watch-bttn{
    font-size: 20px;
    border:none; 
    margin-left:150px;
    margin-right:150px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #ff1605;
    border-radius: 40px;
    color:white;
    font-weight: bold;
    transition: all 0.5s ease;
}

.top-serials{
    display: flex;
    flex-direction: row;
    margin-top:35px;
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
    height: 250px;
    display:flex;
    margin-top:20px;
    justify-content:space-between;
    
}

.serial-img{
    margin-top: 20px;
    transition: 0.5s;
    zoom: 75%;
    width:180px;
    height:256px;
    border-radius: 10%;
}
.serial-img:hover{
    transform: scale(1.2);
    box-shadow: 0px 0px 20px 10px rgba(34, 60, 80, 0.14);

}

.top{
    margin-left:223px;
    height: fit-content;
    width:fit-content;
    color: rgb(34, 34, 34);
    font-size: 16px;
    letter-spacing:2px;
    font-weight: bold;
}

.peaky-blinders-img{
    width: 888px;
    height: 500px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.tools-bttn{
    text-decoration:none;
    display: inline-block;
    line-height: 1;
    margin-top: 0px;
    font-size: 22px;
    border:none;
    letter-spacing:2px;
}

.tools-bttn:after{
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: #ff1605;
    transition: width 0.4s ease-in-out;
}

.tools-bttn:hover:after,
.tools-bttn:focus:after {
    width:100%;
}

.tools-bttn:hover{
    font-weight: bold;
}

.time{
    margin-top:10px;
    font-weight: lighter;
    color:grey;
    font-size: 25px;
    letter-spacing:2px;
}

.watch-bttn:hover{
    box-shadow: 0 0 10px 2px #ff1605;
    transition: all 0.5s ease;
}