<template>

  <h1>Создание задачи</h1>

  <my-input
    v-model="taskTitle"
    type="text"
    placeholder="Заголовок: "
  />
  <!-- <my-input
    v-model="taskBody"
    type="text"
    placeholder="Описание: "
  /> -->
  <div class = form-bttns>
    <my-button
      @click = "redirectHome">
      Назад
    </my-button>

    <my-button
      @click = "createTask">
      Создать
    </my-button>

  </div>

</template>

<script>
import { useTodoStore } from "../stores/todo";
import MyButton from "../components/MyButton.vue";
import MyInput from "../components/MyInput.vue";
export default {
  data() {
    return {
      todoStore: useTodoStore(),
      taskTitle: "",
      // taskBody: ""
    }
  },
  components:{
    MyButton,
    MyInput
  },
  methods: {
    createTask(){
      this.todoStore.addNewTask(this.taskTitle);
      this.$router.push("/");
    },
          
    redirectHome() {
      this.$router.push('/')
    },
  }
}
</script>

<style scoped>
form{
    display: flex;
    flex-direction: column;
}

h1{
    color:#32176d;
}

</style>