<template>
   <logout/>
<task-list/>
  <div style ="display:flex; justify-content: flex-end">
    <button class ="plus-button" @click="redirectForm"><el-icon :size="40"><Plus/></el-icon></button>
  </div>

</template>

<script>

import TaskList from "../components/TaskList.vue";
import Logout from "../components/Logout.vue";
export default {
  name: "home-page",
  components:{
    TaskList,Logout
  },
  methods: {
    redirectForm() {
      this.$router.push('/create')
    }
  }
}
</script>

<style scoped>
.plus-button{
display:flex;
justify-content: center;
align-items: center;
margin-top:15px;
border-radius: 50%;
width:50px;
height:50px;
background:#32176d;
color:white;
border:none;
}

.plus-button:hover{
  background:#6e42cf;
  transition: all 0.5s ease;
  box-shadow: 9px 10px 5px 5px rgba(7, 1, 14, 0.2);
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.2) inset;
}
</style>