<template>

   <h1>Редактирование задачи</h1>

  <my-input
    v-model="todoStore.tasks[id].name"
    type="text"
    placeholder="Заголовок: "
  />
  <!-- <my-input
    v-model="todoStore.tasks[id].body"
    type="text"
    placeholder="Описание: "
  /> -->
  <div class = form-bttns>
    <my-button
      @click = "redirectHome">
      Назад
    </my-button>

    <my-button
      @click = "createTask">
      Сохранить
    </my-button>

  </div>

</template>

<script>
import { useTodoStore } from "../stores/todo.js";
import MyButton from "../components/MyButton.vue";
import MyInput from "../components/MyInput.vue";
export default {
  data() {
    return {
      todoStore: useTodoStore(),
    }
  },
  props: ["id"],
  components:{
    MyButton,
    MyInput
  },
  methods: {
    createTask() {
      this.$router.push("/");
    },
    redirectHome() {
      this.$router.push("/");
    },
  },
}
</script>

<style scoped>

</style>