<template>
    <el-alert
        type="error"
        v-if ="error"
        :title="error"
    />
    <el-form
    :model ="formData"
    label-width="200px"
    @keyup.enter="onSubmit"
    ref="formAuth"
    v-loading="isLoading"
    >

    <el-form-item
        label="Имя пользователя"
        prop="username"
        :rules="{required: true, message: 'Обязательное поле'}"
    >
        <el-input
            v-model ="formData.username"
            placeholder ="Имя пользователя:"
            autocomplete="off"
        />
    </el-form-item>
    <el-form-item
        label="Пароль"
        prop="password"
        :rules="{required: true, message: 'Обязательное поле'}"
    >
        <el-input
            v-model ="formData.password"
            placeholder ="Пароль:"
            autocomplete="off"
            type="password"
        />
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="onSubmit">Войти</el-button>
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="redirectRegister">Зарегистрироваться</el-button>
    </el-form-item>
    </el-form>
</template>

<script>
import {useUserStore} from '../stores/user.js'
    export default {
        name: "login-page",
        data(){
            return{
                isLoading: false,
                error: '',
                formData:{
                    username: '',
                    password: '',
                },
                userStore: useUserStore()
            }
        },
        methods:{
            redirectRegister(){
                this.$router.push('/register')
            },
            async onSubmit(){
               const isValid = await this.$refs.formAuth.validate()
               if (!isValid)
                    return

                this.isLoading = true
                const {isSuccess,result} = await this.userStore.login(
                    this.formData.username,
                    this.formData.password,
                )
                this.isLoading = false

                if (isSuccess)
                    this.$router.push('/')
                else
                    this.error = result.non_field_errors.join('. ')

            }
        },
    }
</script>

<style scoped>

</style>