<template>
    <el-alert
        type="error"
        v-if ="error"
        :title="error"
    />
    <el-form
    :model ="formRegister"
    label-width="200px"
    @keyup.enter="onSubmit"
    ref="formReg"
    v-loading="isLoading"
    >

    <el-form-item
        label="Имя пользователя"
        prop="username"
        :rules="{required: true, message: 'Обязательное поле'}"
    >
        <el-input
            v-model ="formRegister.username"
            placeholder ="Имя пользователя:"
            autocomplete="off"
        />
    </el-form-item>
    <el-form-item
        label="Пароль"
        prop="password"
        :rules="{required: true, message: 'Обязательное поле'}"
    >
        <el-input
            v-model ="formRegister.password"
            placeholder ="Пароль:"
            autocomplete="off"
            type="password"
        />
    </el-form-item>
    <el-form-item>
      <el-button type="primary" @click="onSubmit">Зарегистрироваться</el-button>
    </el-form-item>
    </el-form>
</template>

<script>
import {useUserStore} from '../stores/user.js'
    export default {
        name: "register-page",
        data(){
            return{
                isLoading: false,
                error: '',
                formRegister:{
                    username: '',
                    password: '',
                },
                userStore: useUserStore()
            }
        },
        methods:{
            async onSubmit(){
               const isValid = await this.$refs.formRegister.validate()
               if (!isValid)
                    return

                this.isLoading = true
                const {isSuccess,result} = await this.userStore.register(
                    this.formRegister.username,
                    this.formRegister.password,
                )
                this.isLoading = false

                if (isSuccess)
                    this.$router.push('/login')
                else
                    this.error = result.non_field_errors.join('. ')

            }
        },
    }
</script>

<style scoped>

</style>