*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Caption', sans-serif;
}
.App{
    padding: 20px;
    
}

.page{
  display:flex;
  justify-content: center;
  background: linear-gradient(45deg, #615085, #180A37);
  height:1080px;
}

.container{
  margin:50px;
  height:600px;
  width: 1200px;
}

.container-background{
  background: #cac8cf77;
  border-radius: 20px;
  box-shadow: 9px 10px 13px 2px rgba(19, 6, 34, 0.2);
  box-shadow: 0px 0px 21px 4px rgba(255, 255, 255, 0.2) inset;

}

.form-bttns{
  display:flex;
  width: 100%;
  justify-content: space-between;
  margin-top:15px;
}