<template>
    <meta charset = "utf-8">
    <title>Movie Poster</title>
    <link rel="icon" href="public/icon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <div class="App">
        <top-bar></top-bar>
        <main-card></main-card>
        <top-serials></top-serials>
    </div>
</template>

<script>
import topBar from './components/topBar.vue';
import mainCard from './components/mainCard.vue';
import topSerials from './components/topSerials.vue';
export default {
  name: 'App',
  components: {
    topBar,mainCard,topSerials
  }
}
</script>

<style>
*{
    box-sizing: border-box;
    background: #f5fbff;
    font-family: "Roboto", "Arial", sans-serif;
}
</style>
